#button{
	cursor: pointer;
	background-color: :white;
}
#button:hover{
	background-color: : grey;
}

#tooltip {
  font-size: 12px;
  position: absolute;
  width: auto;
  height: auto;
  padding: 2.5px;
  border:1px solid black;
  background: rgb(250, 250, 250);
  background: rgba(250, 250, 250, 0.9);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  pointer-events: none;
  text-align: center;
}

#tooltip.hidden {
  display: none;
}

path.area{
  stroke-width:0.5;
  stroke: black;
}
path.area.highlight{
  stroke-width:2;
  stroke: black;
}

#legendRect{
  stroke-width:5;
  stroke: black;
}